@import "../node_modules/patternfly/less/patternfly-additions.less";

@fa-font-path:      "../node_modules/patternfly/components/font-awesome/fonts/";
@icon-font-path:    "../node_modules/patternfly/components/bootstrap/fonts/";
@font-path:         "../node_modules/patternfly/dist/fonts";
@img-path:          "../node_modules/patternfly/dist/img";


.smodal{
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;

  }

.modal-fh{
  .modal-body{
    max-height: 70vh;
    overflow: auto;
//    background: red!important;
  }
}
